li.leaf{
  margin: 0.21%;
  padding: 0.02%;
  display: inline;
}

a{
  display:inline-block;
  margin: 0.4em;
  text-overflow: ellipsis;
  word-wrap: break-word;
   word-break: break-all;
}

.button {
    display: inline-block;
    font-size: 100%;
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E9E9E9;
    text-decoration: none;
    text-overflow: clip;
    word-wrap: break-word;
}

.panel-title{
  align-content: center;
  text-align: center;
  background-color: lightblue;
  border-collapse: collapse;
  padding-top: 0;
  margin-top: 0;
}

ul{
  display:inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.panel{
  margin-left: 0.8%;
  margin-right: 0.8%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  text-align: center;
  border: 0.01em solid lightblue;
}